/*Estilos generales*/
* {
  padding: 0;
  margin: 0;
}

:root {
  --color-bg: #f0ffdf;
  --color-topbg: #a8df8e;
  --color-font1: #ffaab8;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(#feecfb, rgb(251, 208, 215), #ffaab8);
  margin-bottom: 30px;
}

/* Estilos NavBar*/
nav {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  width: 100%;
  height: 50px;
}
nav ul {
  display: flex;
  margin-left: auto;
  list-style: none;
  gap: 1rem;
}
nav li {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 5px;
}
.nav-link {
  color: inherit;
  text-decoration: none;
  color: #d76fb7;
  font-size: 30px;
  font-weight: bold;
}
.nav-link:hover {
  color: rgb(146, 28, 102);
}

/* Estilos de titulos*/
h1 {
  margin-left: 20px;
  text-align: center;
  color: #d76fb7;
  text-shadow: 1px 2px 1px #5b073c;
  font-family: "Metamorphous", serif;
  font-weight: bold;
  font-size: 2rem;
  font-style: normal;
}

h2 {
  padding: 2rem;
  font-family: "Cagliostro", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #d76fb7;
}

h3 {
  padding: 20px 10px;
  align-items: center;
  font-family: "Cagliostro", sans-serif;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  background-color: var(--color-topbg);
}

/*Estilos de botones*/

.btn-menu {
  color: inherit;
  padding: 10px 25px;
  margin: 0px 20px;
  border-radius: 40px;
  background-color: #ffd8df;
}

.btn-borrar {
  font-size: 1rem;
  text-align: center;
  background-color: var(--color-font1);
  padding: 4px;
  border-radius: 25%;
  margin-left: 5rem;
}

#agregar {
  background-color: #a6feac;
  font-weight: bold;
}
#mover {
  background-color: rgb(252, 242, 148);
  font-weight: bold;
}


/*Estilos modal*/

.modal-content {
  background: linear-gradient(#fff9c5, #ffd2f7, #c3cdff);
  color: rgb(216, 111, 184);
  border: solid 2px #c9fbfd;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  margin: 5px;

}
/*Estilos del main*/

/*Clima y fecha */
.clima {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.card-fecha {
  background: linear-gradient(#fff9c5, #ffd2f7, #c3cdff);
  color: #d76fb7;
  border: solid 2px #c9fbfd;
  border-radius: 20px;
  width: 120px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ciudadInput {
  display: none;
  margin: 10px;
}


.clima-card {
  max-width: 200px;
  max-height: 50px;
  background: linear-gradient(#fff9c5, #ffd2f7, #c3cdff);
  display: flex;
  border: solid 2px #c9fbfd;
  border-radius: 20px;
  align-items: center;
  text-align: center;
}

.clima-card h2 {
  font-size: 15px;
  padding: 0px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  justify-content: end;
}

.clima-info {
  display: flex;
  flex-direction: column;
}
.mostrarTemperatura{
  font-weight: bold;
  font-size: 15px;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-right: 10px;
  justify-content: end;
}
.emojiClima {
  display: flex;
  text-align: start;
  font-size: 40px;
  margin-top: 20px;
}

.menu-container {
  margin-top: 1.5rem;
  box-sizing: border-box;
  border-radius: 40px;
}

.tareaBox {
  border: 5px solid #955199;
  border-radius: 40px;
  background-color: var(--color-bg);
  margin: 2.5rem;
  justify-content:space-between;
  align-items: center;
  min-height: 300px;
  overflow: hidden;
}

/*Estilos de tareas*/

.tareaBox ul {
  list-style-type: none;
  margin-right: auto;
}

.tareaBox li {
  margin: 20px 0px;
  text-align: start;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  font-size: 1.5rem;
}

.tareaBox ul li small {
  color: #d76fb7;
  font-size: 1rem;
  font-family: "Cagliostro", sans-serif ;
}
.tareaBox li::before {
  content: "🌸 ";
  justify-content: start;
}

.tarea-seleccionada {
  background-color:var(--color-font1);
  max-width: 400px;
}

#porHacer, #enProceso, #yaRealizadas {
  min-height: 200px;
  padding: 10px;
}

/*Estilo del loading*/

.loading {
  pointer-events: none;
  position: relative;
}

.loading::after {
  content: "🌸";
  position: absolute;
  right: 10px;
  font-size: 40px;
  animation: girar 1s linear infinite;
}

@keyframes girar {
  from {transform: rotate(0deg);}
  to { transform: rotate(360deg);}
}

/*Estilos del footer*/

footer {
  width: 100%;
  text-align: center;
  background-color: var(--color-topbg);
  position: fixed;
  height: 30px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
}

@media (max-width: 992px) {

  nav {
    background: var(--color-topbg);
    padding: 20px;
    margin: 0;
    width: 100%;
    height: 80px;
  }

  .navbar-toggler {
  position: absolute;
  right: 20px;
  align-items: center;
}

nav h1 {
  margin: 0;
  padding-left: 20px;
  text-align: center;
}
nav ul {
  background: var(--color-topbg);
}

nav ul li {
  font-size: 10px;
  text-align: center;
}

}
